#registerLoginModal.modal{ :style => "display: none;" }
  .modal-dialog
    .modal-content
      .modal-header.dark
        %h4#registerLoginTitle.modal-title
        %button.close{ "data-dismiss" => "modal", :type => "button" } ×
      .modal-body


